//colors
$mainColor: #fff;
$colorBlack: #150603;
$colorGrey: rgba(0, 0, 0, 0.25);
$colorWhiteDark: #F3F3F3;
$colorWhiteHalf: rgba(255, 255, 255, .5);

//fonts
$mainFonts: 'Montserrat', sans-serif;
$fontRegularMul: 400 14px / 20px 'Muller';
$fontRegularMonts: 400 14px / 20px 'Montserrat';
$fontRegularSmallMull: 400 9px / 14px 'Muller';
$fontRegularMul18: 400 18px / 29px 'Muller';
$fontRegularMull16: 400 16px / 25px 'Muller';
$fontRegularMonst10: 400 10px / 14px 'Montserrat';